<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <%= console.log(posts[0].id); %>
    <ul>
    <% posts.forEach(post => { %>
      <li><a href=<%= post.id %>><%= post.title %> - <%= post.date %></a></li>
    <% }) %>
    </ul>
    <button>Create Note</button>

  <form id="postForm" action="/submit" method="POST">
    <input id="postTitle" name="postTitle" placeholder="Title">
    <textarea id="postContent" name="postContent" placeholder="Content"></textarea>
    <!-- <button id="submitPostBtn">Submit</button> -->
    <input type="submit" value="Submit" />
  </form>

  </body>
</html>
