<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <%= console.log(posts[0].id); %>
    <ul>
    <% posts.forEach(post => { %>
      <li class="post-item">
      
        <a href="/<%= post.id %>"><%= post.title %></a>
      
        <div class="menu-container">
          <button class="menu-btn">&#8230;</button>
          <div class="menu">
            <a href="<%= post.id %>/edit">Edit</a>
            <button>Delete</button>
          </div>
        </div>
      </li>
    <% }) %>
    </ul>

  <form id="postForm" action="/submit" method="POST">
    <input id="postTitle" name="postTitle" placeholder="Title">
    <textarea id="postContent" name="postContent" placeholder="Content"></textarea>
    <!-- <button id="submitPostBtn">Submit</button> -->
    <input type="submit" value="Submit" />
  </form>

  </body>
</html>
